
/* Game */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 100px 50px 0px;

}

body {
  background-color: #010101;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #69C9D0;
  font-size: 6rem;
  color: #EE1D52;
}

p {
  font-size: 2rem;
  text-shadow: 2px 0 #69C9D0;
  color: #EE1D52;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  border-radius: 10px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
}
